# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
Wheels/

# Editor/IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Test / coverage
.tox/
.nox/
.pytest_cache/
.coverage

# Type checkers
.mypy_cache/
.pytype/

# Project-specific
!models/checkpoint.pth
!models/training_log.csv
models/*.png
models/*.jpg
models/*.mp4
models/*.npy
